In [9]:
import pandas as pd

In [10]:
df = pd.read_excel('AgentPerformance.xlsx', skiprows=1)

In [11]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-03,Jawala Prakash,17,00:01:08,00:13:45,4.40,10
1,2,2022-07-03,Boktiar Ahmed Bappy,23,00:00:53,00:09:34,4.88,17
2,3,2022-07-03,Manjunatha A,20,00:00:49,00:31:56,4.11,9
3,4,2022-07-03,Aditya Shinde,34,00:01:20,00:26:29,4.16,19
4,5,2022-07-03,Bharath,11,00:00:21,00:06:34,4.67,9

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
class agent_Report:
    
    def __init__(self, file_path):
        """
        params:
            file_path = the path of the agents sheet.
        
        """
        self.file_path = file_path
        self.df = pd.read_excel('AgentPerformance.xlsx', skiprows=1) 
        self.df = self.df[self.df['Total Chats'] >0]

        
    def available_Agents(self):
        return list(set(self.df['Agent Name'].to_list()))
        
    def data(self, agent_name):
        self.agent_name = agent_name
        
        
        agent_data = self.df[self.df['Agent Name'] == self.agent_name]
        self.agent_data = agent_data.reset_index(drop=True)
        
        self.total_data = {
            'Agent_name' : agent_name,
            'total_working_Data' : len(self.agent_data[self.agent_data['Total Chats'] > 0]),
        'total_chats' : sum(self.agent_data['Total Chats'].to_list()),
        'min_chat' : min(self.agent_data['Total Chats'].to_list()),
        'max_chat' : max(self.agent_data['Total Chats'].to_list()),
        
        'total_feedback' : sum(self.agent_data['Total Feedback'].to_list()),
        'Avg_rating_of_total_working_days' : sum(self.agent_data['Average Rating'].to_list())/len(self.agent_data[self.agent_data['Total Chats'] > 0]),
        
        'rating < 3.5' : len(self.agent_data[self.agent_data['Average Rating'] < 3.5]),
        
        'rating < 4' : len(self.agent_data[self.agent_data['Average Rating'] < 4]),
        'rating <3' : len(self.agent_data[self.agent_data['Average Rating'] < 3]),
        'rating > 4.5': len(self.agent_data[self.agent_data['Average Rating'] > 4.5])
        }
        
        
        
        
        self.total_data = pd.DataFrame([self.total_data])
        return self.total_data
    
    def final_data(self):
        final_dataset = pd.DataFrame()
        for name in self.available_Agents():
            data = self.data(agent_name=name)
            final_dataset = final_dataset.append(data)
            
        final_dataset = final_dataset.reset_index(drop=True)
            
        
        return final_dataset

In [2]:
agents = agent_Report('AgentPerformance.xlsx')

In [3]:
agents.final_data()

,Agent_name,total_working_Data,total_chats,min_chat,max_chat,total_feedback,Avg_rating_of_total_working_days,rating < 3.5,rating < 4,rating <3,rating > 4.5
0,Nishtha Jain,1,10,10,10,8,4.120000,0,0,0,0
1,Boktiar Ahmed Bappy,7,140,3,63,107,4.440000,1,1,0,4
2,Jawala Prakash,7,123,1,56,68,3.731429,1,1,1,1
3,Maitry,5,131,14,34,70,4.598000,0,0,0,3
4,Prerna Singh,5,99,11,33,66,4.122000,0,2,0,0
5,Jaydeep Dixit,5,112,12,36,55,4.256000,1,2,0,3
6,Shivananda Sonwane,6,127,3,40,64,4.403333,0,1,0,2
7,Bharath,5,146,11,58,88,4.688000,0,0,0,5
8,Rishav Dash,5,113,17,27,69,4.440000,0,1,0,3
9,Manjunatha A,7,142,3,68,92,4.370000,0,0,0,2
10,Nandani Gupta,5,232,34,75,108,4.184000,1,2,0,2
11,Ayushi Mishra,4,115,23,37,65,4.165000,0,0,0,0
12,Hrisikesh Neogi,5,119,15,47,67,3.866000,1,3,0,1
13,Jayant Kumar,5,84,8,26,49,4.118000,1,2,0,1
14,Aditya Shinde,5,196,25,57,113,4.200000,0,2,0,2
15,Deepranjan Gupta,5,227,31,66,128,4.200000,0,2,0,1
16,Sanjeev Kumar,5,95,6,25,65,4.304000,0,0,0,1
17,Shubham Sharma,5,104,15,25,58,4.218000,1,1,0,2
18,Khushboo Priya,5,128,11,50,77,4.080000,1,1,1,1
19,Saif Khan,3,47,15,17,14,3.946667,0,1,0,0
20,Madhulika G,6,95,3,29,63,4.590000,0,0,0,3
21,Saurabh Shukla,2,9,2,7,3,2.000000,2,2,1,0
22,Swati,5,132,15,43,69,4.448000,0,0,0,2
23,Tarun,5,92,12,27,31,3.828000,2,2,1,1
24,Shivan K,6,27,2,9,12,4.095000,1,2,1,4